PAYLABS_BASE_URL=https://sit-pay.paylabs.co.id
MERCHANT_ID="YOUR_MERCHANT_ID"
QRIS_CREATE_ENDPOINT="/payment/v2.3/qris/create"

MERCHANT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"

PAYLABS_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"

PORT=3000
